* {
    background-color: #101010;
    color: #fff;
    border-color: #696969;
}

a {
    color: #969696;
    }

body {
    font-family: "Ubuntu Mono", monospace;
    text-align: center;
}

.credit {
    font-size: 10px;
    color: #696969;
}