<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cowboy Bebop End Card Generator</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">
</head>
<body>
<h2>Cowboy Bebop End Card Generator</h2>
<form id="cardForm" action="/card" method="post">
    Width: <input type="number" name="cardWidth" value="1920" required min="200" max="10000" size="5">
    Height: <input type="number" name="cardHeight" value="1080" required min="200" max="10000" size="5"><br>
    <br>
    Text:<br> <textarea name="cardText" required></textarea><br> <br>
    <input id="cardSubmit" type="submit" value="Submit">
</form>
<br>
<br>
<br>
<div class="credit">Written by <a href="https://nthea.xyz">@nthea</a>
<p><a href="https://ko-fi.com/nthea">donate</a></p></div>
</body>
</html>