<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Test</title>
</head>
<body>
<h2>Cowboy Bebop Ending Card Generator</h2>
<form id="cardForm" action="/card" method="post">
    Text: <input id="cardInput" type="text" name="cardText" required><br>
    Width: <input type="number" id="cardInput" type="text" name="cardWidth" required><br>
    Height: <input type="number" id="cardInput" type="text" name="cardHeight" required><br>
    <input id="cardSubmit" type="submit" value="Submit">
</form>
</body>
</html>